* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #23252C;
    color: #F5F5F5
}

.container {
    width: 317px;
    /* height: 780px; */
    background-color: gray;
    border-radius: 10px;
    background-color: #1A1B21;
}

.info > img {
    width: 317px;
}

.info > h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 21px 0 0 0;
}

.info--job {
    margin: 5px 0 0 0;    
    color: #F3BF99;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.info--email {
    font-weight: normal;
    font-size: 10.24px;
    text-align: center;
    margin-top: 7px;
    color: #F5F5F5;
}

.info--buttons {
    margin: 15px 35px;
    display: flex;
    justify-content: space-between;
    
}

.info--buttons button {
    width: 115px;
    height: 34px;
    padding: 9px 13px 9px 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    border-radius: 6px;
}

.info--buttons img {
    margin-right: 10px;
}

.info--buttons > .btn-email {
   
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    font-weight: 500;
    font-size: 14px;
    color: #374151;
}

.info--buttons > .btn-linkedin {
    color: #FFFFFF;
    background: #5093E2;
    border: 1px solid #5093E2;    
    border-radius: 6px;
}

.about {
    margin: 33px 35px 0 35px;
}

.about > h4, .interests > h4 {
    color: #F5F5F5;
    margin-bottom: 5px;
}

.about p, .interests p {
    margin: 0;
    font-weight: normal;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}

.interests {
    margin: 27px 35px 33px 35px;
}

.footer {
    padding: 19px 72px;
    display: flex;
    justify-content: space-between;
    background-color: #161619;
    border-radius: 10px;    
}

.footer img {
    width: 25px;
}